body{
    background: url('../images/back.png') 50% 0 no-repeat #c9880a;
}
#wrapper{
    width:920px;
    margin:0 auto;
}
#header{

}
#main-menu{

}
#sidebar{

}
#content{

}
#footer{

}
.clearfix{
    width: 100%;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.header, .sidebar, .content, .footer{
    border:1px solid black;
    background:#f9b126;
    margin-bottom:10px;
    padding:5px;
}
.header .logo-header{
    float:left;

}
.header .head{
    font-family:COMIC SANS MS;
    font-size:50px;
    padding:0 20px 10px;
    float:left;
}
.header .search{
    float:right;
    padding: 20px 0;
}
.header .main-menu{
    float:left;
    list-style: none;
}
.main-menu ul>li{
    position: relative;
    display:inline-block;
    border: 1px solid black;
    height: 70px;
    min-width: 100px;

}
.main-menu .sub-menu{
    position: absolute;
}
.main-menu a{
    display: block;
    text-align: center;
}
.header:after{
    content: "";
    clear: both;
    display: block;
}
.hide{
    display:none;
}
.sidebar{
    width:26%;
    float:left;
    margin-right:10px;
}
.content{
    float:right;
    width: 70%;
}
.content table{
    background: #cccccc;
    width:600px;
    margin-bottom: 20px;
    border-collapse: separate;
}
thead, tfoot, tbody{
    border: 1px solid #000000;

}
td{
    border:1px solid #000000;
    text-align: center;
}

.footer{
    text-align: center;
}
.content input,.content textarea{
    width:250px;
}
fieldset{
    border:1px solid #000000;
    padding: 10px;
}
legend{
    font-weight: bold;
}
label{
    width:220px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
}
input:focus {
    background: #cccccc;
}
.content input[type=number]{
    width: 35px;
}
input[type=checkbox], input[type=radio]{
    width: 10px;
    vertical-align: middle;
}
